---
export interface Props {
  latitude: number;
  longitude: number;
  zoom: number;
  mapstyle: string;
  container: string;
  conferences: {
    latitude: number;
    longitude: number;
    popupContent: string;
  }[];
  /** If `false`, the map will not respond to interaction.  This is a static map built with the full web map rendering API. */
  interactive?: boolean;
  containerstyle?: string;
}

const {
  latitude,
  longitude,
  zoom,
  mapstyle,
  container,
  interactive,
  conferences,
  containerstyle = "height: 61.8vh",
} = Astro.props;
---

<maplibre-map
  data-latitude={latitude}
  data-longitude={longitude}
  data-zoom={zoom}
  data-mapstyle={mapstyle}
  data-container={container}
  data-interactive={interactive}
  data-containerstyle={containerstyle}
  data-conferences={JSON.stringify(conferences)}
>
  <div id={container} style={containerstyle}></div>

  <link
    rel="stylesheet"
    href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css"
  />
  {
    /* Astro specific way to pull in MapLibre, `is:inline`:  https://docs.astro.build/en/reference/directives-reference/#isinline */
  }
  <script is:inline src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"
  ></script>
  <script>
    import maplibregl, { Marker, Popup } from "maplibre-gl";

    class MapLibreMap extends HTMLElement {
      constructor() {
        super();

        const map = new maplibregl.Map({
          // eslint-disable-next-line @typescript-eslint/ban-ts-comment
          // @ts-ignore
          container: this.dataset.container,
          // eslint-disable-next-line @typescript-eslint/ban-ts-comment
          // @ts-ignore
          interactive: JSON.parse(this.dataset.interactive),
          // eslint-disable-next-line @typescript-eslint/ban-ts-comment
          // @ts-ignore
          center: [this.dataset.longitude, this.dataset.latitude],
          // eslint-disable-next-line @typescript-eslint/ban-ts-comment
          // @ts-ignore
          zoom: this.dataset.zoom,
          style: this.dataset.mapstyle,
        });

        map.scrollZoom.disable(); // Disable scroll zoom for better UX
        map.addControl(new maplibregl.NavigationControl(
          {
            showCompass: false, // Hide compass
            showZoom: true, // Show zoom controls
          }
        ), "top-right");
        map.addControl(new maplibregl.FullscreenControl(), "top-right");
        const conferences = JSON.parse(
          this.dataset.conferences || "[]"
        ) as {
          latitude: number;
          longitude: number;
          popupContent: string;
        }[];

        console.log("Conferences data:", conferences);

        conferences.forEach(({ latitude, longitude, popupContent }) => {
          new Marker(
            {
              color: "red",
              scale: 0.9, // Adjust the scale as needed
            }
          )
            .setLngLat([longitude, latitude])
            
            .setPopup(new Popup().setHTML(`<span style="color:black;">${popupContent}</span>`))
            .addTo(map);
        });
      }
    }

    window.customElements.define("maplibre-map", MapLibreMap);
  </script></maplibre-map
>
